<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        lang="en">
<head>
    <title>Spring Security with OAuth 2.0 / PKCE</title>
    <meta charset="utf-8" />
</head>
<body>
<div style="float: right" th:fragment="logout" sec:authorize="isAuthenticated()">
    <div style="float:left">
        <span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
    </div>
    <div style="float:none">&nbsp;</div>
    <div style="float:right">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1>OAuth 2.0 Details</h1>
<div>
    You are successfully logged in as <span style="font-weight:bold" th:text="${userName}"></span>
    via the OAuth 2.0 Client <span style="font-weight:bold" th:text="${clientName}"></span>
</div>
<div>&nbsp;</div>
<div>
    <span style="font-weight:bold">User Attributes:</span>
    <ul>
        <li th:each="userAttribute : ${userAttributes}">
            <span style="font-weight:bold" th:text="${userAttribute.key}"></span>: <span th:text="${userAttribute.value}"></span>
        </li>
    </ul>
    <span style="font-weight:bold">User Authorities:</span>
    <ul>
        <li th:each="authority : ${userAuthorities}">
            <span th:text="${authority}"></span>
        </li>
    </ul>
</div>
<div>&nbsp;</div>
<div>
    <form action="#" th:action="@{/simpleapi}" method="get">
        <input type="submit" value="Call API" />
    </form>
    <form action="#" th:action="@{/adminapi}" method="get">
        <input type="submit" value="Call API as Admin" />
    </form>
</div>
</body>
</html>