<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<h2>English words</h2>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Word</th>
    </tr>
    </thead>
    <tbody>
    <!-- The th:each attribute iterates over a collection of words provided by the model.
         'word' represents the current element during iteration, and 'wordStat' provides additional
         info like index. The collection is passed to the template through the 'words' attribute in the model. -->
    <tr th:each="word : ${words}">
        <!-- Dynamically displays the index of the current word in the iteration, starting from 1.
             The placeholder 'Index' is a fallback content that is replaced by the dynamic value. -->
        <td th:text="${wordStat.index + 1}">Index</td>
        <!-- Displays the current word. The placeholder 'A word' is replaced by the value of 'word'. -->
        <td th:text="${word}">A word</td>
    </tr>
    </tbody>
</table>

</body>
</html>