<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <p class="my-5">
                    <a href="/students/form" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Student</i></a>
                </p>
                <!-- Conditional switch to handle empty or non-empty student lists -->
                <div th:switch="${students.isEmpty()}" class="col-md-10">
                    <!-- Shown if there are no students, i.e., the student list is empty -->
                    <h2 th:case="true">No Students yet!</h2>
                    <!-- Default case when there are students in the list -->
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Loop over each student, rendering a row for each -->
                            <tr th:each="student : ${students}">
                                <td th:text="${student.name}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.phone}"></td>
                                <!-- Link to edit the student, using a path variable for the student ID -->
                                <td><a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary"><i
                                        class="fas fa-user-edit ml-2"></i></a></td>
                                <!-- Link to delete the student, also using a path variable for the student ID -->
                                <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-primary"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>